.home-base {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px 20px;
  background-color: #fff !important;
  background-image: none !important;
}


.base-card {
  border-radius: .25rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
  border: 1px solid #dee2e6;
  display: flex;
  flex-direction: row;
  flex: 1;
}


.base-cards {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.base-card .base-card-body {
  flex: 0 0 60%;
  padding: 1rem;
}

p {
  font-size: 1.25rem;
  font-weight: 300;
}

h2 {
  font-size: calc(1.2rem + 1vw);
}

.base-icons {
  border-radius: 25%;
  border: 3px solid #dc3545;
  height: 300px;
}

.base-card img {
  max-width: 250px;
}

.base-card button {
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
}

.base-card button:hover {
  background-color: #c82333;
}

.logo-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 30px;
}

.logo-container img {
  width: auto;
  height: 55px;
}


.logo-container .logo-text {
  font-size:40px;
  font-weight: bold;
  color: #dc3545;
  text-transform: uppercase;
}

.promo-text {
  font-family: 'Arial Black', sans-serif;
  color: #d0d0d0;
  margin-bottom: 30px;
  font-size: 20px;
}

.def-btn {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 20px;
  border: none;
  background-color: #c80000;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.4s ease;
  margin: 10px;
  padding: 10px 30px;
}

.def-btn:hover {
  background-color: #930000;
}

.donation-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

.donation-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 15px 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  color: #fff;
  transition: transform 0.2s ease;
}

.donation-card:hover {
  transform: translateY(-2px);
}

.donation-name {
  font-size: 18px;
  font-weight: 500;
}

.view-button {
  background-color: #ff5555;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.view-button:hover {
  background-color: #e03e3e;
}

.faq-wrapper {
  text-align: center;
  margin-top: 20px;
}

.faq-wrapper button {
  background-color: #dc3545;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
}

.faq-wrapper button:hover {
  background-color: #c82333;
}

.social-links {
  margin-top: 40px;
  text-align: center;
}

.social-links a {
  display: inline-block;
  margin: 0 10px;
  transition: transform 0.3s ease;
}

.social-links img {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease, filter 0.3s ease;
}


.social-links a:hover {
  transform: scale(1.2);
}


